.slider {
  position: relative;
  margin-bottom: 2em;
  overflow: hidden;
  &::before {
    content: '';
    width: 240px;
    height: 240px;
    display: block;
    position: absolute;
    top: 20%;
    left: 100px;
    background-image: url('../img/slider-icon-1.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::after {
    content: '';
    width: 210px;
    height: 210px;
    display: block;
    position: absolute;
    bottom: 25%;
    right: 70px;
    background-image: url('../img/slider-icon-3.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__swiper {
    z-index: 5;
    position: relative;
  }

  &__wrapper {
    position: relative;

    &::before {
      content: '';
      width: 250px;
      height: 250px;
      display: block;
      position: absolute;
      top: 0;
      left: 60%;
      background-image: url('../img/slider-icon-2.png');
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: '';
      width: 396px;
      height: 130px;
      display: block;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(80%);
      background-image: url('../img/slider-icon-4.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__pagination {
    position: relative;
    margin-top: 3em;

    .swiper-pagination-bullet {
      background: $main-color;
      opacity: 1;
      width: 12px;
      height: 12px;
    }

    .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin-left: 25px;
    }

    .swiper-pagination-bullet-active {
      background: $sub-color;
    }
  }
}

.slider-slide {

  &__title {
    margin-top: 2em;
    font-size: 4.5rem;
    font-weight: 900;
    font-family: 'Signika', serif;
    line-height: 1.1;
    display: block;
    z-index: 2;
    position: relative;

    @media (max-width: 575.98px) {
      font-size: 2.8rem;
    }

    span{
      display: block;
      white-space: nowrap;
    }
  }

  &__descr {
    margin-top: 2em;
  }

  &__btn {
    margin-top: 6em;
  }

  &__img {
    margin-top: 1em;
    width: 100%;
    height: auto;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.services {
  background-color: $rare-color;
  position: relative;
  padding-bottom: 5em;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url('../img/honey-hr-white.png');
    background-repeat: no-repeat;
    height: 100%;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__subtitle {
    margin-top: 8em;
  }

  &__title {
  }

  &__descr {
    color: $main-color;
    font-size: 0.875rem;
    line-height: 1.7;
  }

  &__btn {
    margin-top: 4em;
  }
}

.services-item {
  margin-top: 4em;
  display: inline-block;
  position: relative;

  &:hover {
    .services-item__bg-wrapper {
      transform: translateY(-10%) rotate(90deg);
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: -8%;
    top: 28%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAFCAYAAADR5WXBAAABS2lUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDIgNzkuMTYwOTI0LCAyMDE3LzA3LzEzLTAxOjA2OjM5ICAgICAgICAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIi8+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+nhxg7wAAAG5JREFUKJHNy6ENAkEURdEzINbgSTaEDlaNmCBJqGLkhrLoBAMrgDrogOBQ2A1MAf/Jl3NTLXmLE3a444in/4VxqZZ8xmGGLtg34jAu1ZLfWM3OD7pGHMYt8PhBt0YoklsOm/6KAWtMGPFqxGHcF831OuUcpaB4AAAAAElFTkSuQmCC)
      no-repeat 100% 50%;
    width: 100px;
    height: 10px;

    @media (max-width: 767.98px) {
      content: none;
    }
  }

  &:last-child {
    &::after {
      content: none;
    }
  }

  &:nth-child(2n){
    @media (max-width: 991.98px) {
      &::after {
        content: none;
      }
    }
  }

  &__bg-wrapper {
    transition: 0.3s;
    margin: 0 auto;
    width: 110px;
    height: 180px;
    position: relative;
    background: #fff;
    border-radius: 16px;
    transform: rotate(90deg);
    box-shadow: 30px 0 35px rgba($main-color, 0.1);

    &::after {
      content: '';
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      background: #fff;
      position: absolute;
      display: block;
      border-radius: 16px;
      transform: rotate(60deg);
    }
    &::before {
      content: '';
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      background: #fff;
      position: absolute;
      display: block;
      border-radius: 16px;
      transform: rotate(-60deg);
    }
  }

  &__bg-inner {
    margin: 0 auto;

    left: 50%;
    top: 50%;
    width: 90px;
    height: 145px;
    position: absolute;
    background: rgb(245, 245, 245);
    border-radius: 16px;
    transform: translate(-50%, -50%);
    z-index: 10;

    .icon {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      transform: rotate(-90deg);
      z-index: 3;
      font-size: 75px;
      color: $sub-color;
    }

    &::after {
      content: '';
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      background: rgb(245, 245, 245);
      position: absolute;
      display: block;
      border-radius: 16px;
      transform: rotate(60deg);
      z-index: 2;
    }

    &::before {
      content: '';
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      background: rgb(245, 245, 245);
      position: absolute;
      display: block;
      border-radius: 16px;
      transform: rotate(-60deg);
      z-index: 2;
    }
  }

  &__title {
    margin-top: 1em;
    font-size: 30px;
    color: $main-color;
    font-family: 'Signika', serif;
    transition: 0.3s;

    &:hover {
      color: $sub-color;
    }
  }

  &__descr {
    margin-top: 0.5em;
    font-size: 0.8125rem;
    color: $main-color;
    line-height: 1.5;
  }
}

.clients {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  background-color: $rare-color;
  padding-bottom: 4em;

  &__subtitle {
    margin-top: 4em;
    text-align: center;
  }

  &__title {
    text-align: center;
    margin-bottom: 1em;
  }

  &__swiper {
  }

  &__wrapper {
    margin-bottom: 4em;
  }

  &__pagination {
    .swiper-pagination-bullet {
      background: $main-color;
      opacity: 1;
      width: 10px;
      height: 10px;
    }

    .swiper-pagination-bullet + .swiper-pagination-bullet {
      margin-left: 25px;
    }

    .swiper-pagination-bullet-active {
      background: $sub-color;
    }
  }
}

.clients-slide {
  background-color: #fff;
  border-radius: 10px;
  padding: 2em;
  height: auto;

  &__header {
    display: flex;
  }

  &__img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 8px solid #f8f7f1;
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: inherit;
    }
  }

  &__author {
    margin-left: 25px;
  }

  &__rate {
    display: flex;
    color: $rare-color;
    font-size: 12px;

    span + span {
      margin-left: 2px;
    }
  }

  &__title {
    margin-top: 7px;
  }

  &__suptitle {
    margin-top: 7px;
  }

  &__body {
    margin-top: 25px;
    text-align: center;
  }

  &__message {
    line-height: 1.6em;
    z-index: 2;
    position: relative;
    font-size: 14px;
    font-style: italic;
    position: relative;
    margin-bottom: 40px;

    &::after {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: -70px;
      left: 50%;
      transform: translateX(-200%);
      font-family: 'Alex Brush', cursive;
      content: '"';
      font-size: 170px;
      color: $rare-color;
      text-align: center;
    }
  }
}
