$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon__chevron-right: "\e908";
$icon__close: "\e907";
$icon__bee: "\e900";
$icon__honey: "\e901";
$icon__honey-2: "\e902";
$icon__honeycomb: "\e903";
$icon__star: "\e904";
$icon__shopping-bag: "\e905";
$icon__search: "\e906";
